.designers-wrapper {
    height: 874px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.designers-wrapper-one {

    position: absolute;
    left: 0;
    top: 369px;
}

.designers-wrapper-one h1 {
    color: #171717;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.designers-wrapper-two {
    position: absolute;
    right: 0;
    top: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.designers-wrapper-two-card {
    width: 247px;
    height: 360px;
    margin: 10px;
}

.designers-wrapper-two-img {
    object-fit: cover;
    width: 247px;
    height: 342px;
}

.designers-wrapper-two-name {
    margin-top: 5px;
    color: #171717;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.designers-wrapper-two-desc {
    color: #171717;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.designers-wrapper-two-rectangle1 {
    position: absolute;
    top: -21px;
    left: 30px;
}

.designers-wrapper-two-rectangle2 {
    position: absolute;
    top: -14px;
    left: 18px;
}

.designers-wrapper-two-rectangle3 {
    position: absolute;
    top: -21px;
    left: 329px;
}

.designers-wrapper-two-rectangle4 {
    position: absolute;
    top: -14px;
    left: 315px;
}

.designers-wrapper-two-rectangle5 {
    position: absolute;
    top: -21px;
    left: 628px;
}

.designers-wrapper-two-rectangle6 {
    position: absolute;
    top: -14px;
    left: 615px;
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1200px) {

    .designers-wrapper {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 1184px;

    }

    .designers-wrapper-one {
        width: 100%;
        left: 0;
        top: 169px;
    }

    .designers-wrapper-one h1 {
        text-align: center;
    }

    .designers-wrapper-two {
        align-items: center;
        justify-content: space-between;
        left: 0;
        top: 369px;
    }

    .designers-wrapper-two {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .designers-wrapper-two-card {

        /* border: 1px solid black; */
        /* margin-right: 30px; */
        /* width: 267px;
        height: 360px; */
    }
}

@media only screen and (max-width: 900px) {
    .designers-wrapper {
        height: 1184px;
    }
    .designers-wrapper-two {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 760px) {
    .designers-wrapper {
        height: 1184px;
    }
    .designers-wrapper-two {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 480px) {
    .designers-wrapper {
        height: 1524px;
    }
    .designers-wrapper-two {
        flex-wrap: wrap;
    }
}