.about-card {
    position: relative;
    height: 909px;
}

.about-section {
    display: flex;
    align-items: center;
    margin-top: 90px;
    
}

.about-section-card-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.about-section-svg {
    width: 135.5px;
    height: 109.001px;
    background-image: url('../../assets/Images/Group\ 4.svg');
    position: absolute;
    bottom: 50px;
    left: 80px;
    z-index: -1;
}

.about-section-year {
    color: var(--yellow-color);
    font-size: 296px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 98px;
    z-index: 1;
}

.about-section-heading1 {
    color: var(--black-color);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-bottom: 20px;

}

.about-section-para {
    color: #606060;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    word-spacing: 2px;
    line-height: 1.8;
}

.about-section-card-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.about-section-card-three {
    position: absolute;
    right: 0;
    margin-top: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-section-numbers {
    color: var(--lightgrey-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 122px;
    height: 72px;
    margin: 0 38px;
    margin-bottom: 0;
}

.about-section-customers {
    margin: 0 38px;
    color: #171717;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about-section-dot {
    width: 2px;
    border: 5px solid var(--yellow-color);
    border-radius: 50%;
    margin: 0 38px;
}

.about-section-card-four {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--lightgrey-color);
    width: 541px;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 1600px) {
    .about-section-svg {
        width: 115.5px;
        height: 89.001px;
        left: 70px;
    }

    .about-section-year {
        font-size: 256px;
        font-weight: 700;
        margin: 0 78px;
    }

    .about-section-heading1 {
        font-size: 40px;
        font-weight: 700;
    }

    .about-section-numbers {
        margin: 0 48px;
    }

    .about-section-customers {
        margin: 0 48px;
    }

    .about-section-dot {
        margin: 0 48px;
    }

    .about-section-card-three {
        margin-top: 65px;
    }

}

@media only screen and (max-width: 1400px) {
    .about-section-numbers {
        margin: 0 38px;
    }

    .about-section-customers {
        margin: 0 38px;
    }

    .about-section-dot {
        margin: 0 38px;
    }
}


@media only screen and (max-width: 1200px) {
    .about-section-svg {
        width: 105.5px;
        height: 79.001px;
    }

    .about-section-year {
        font-size: 236px;
        margin: 0 78px;
    }

    .about-section-heading1 {
        font-size: 35px;
    }

    .about-section-numbers {
        margin: 0 28px;
    }

    .about-section-customers {
        margin: 0 28px;
    }

    .about-section-dot {
        margin: 0 28px;
    }

    .about-section-card-three {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 900px) {
    .about-section-svg {
        width: 85.5px;
        height: 69.001px;
    }

    .about-section-year {
        font-size: 216px;
        margin: 0 58px;
    }

    .about-section-heading1 {
        font-size: 35px;
    }

    .about-section-numbers {
        margin: 0 18px;
    }

    .about-section-customers {
        margin: 0 18px;
    }

    .about-section-dot {
        margin: 0 18px;
    }

    .about-section-card-three {
        margin-top: 45px;
    }

    .about-section-card-four {
        width: 441px;
        height: 100px;
    }

}

@media only screen and (max-width: 760px) {
    .about-section {
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .about-section-dot {
        width: 1px;
        border: 1px solid var(--yellow-color);
        border-radius: 50%;
        margin: 0 18px;
    }

    .about-section-svg {
        width: 75.5px;
        height: 59.001px;
    }

    .about-section-year {
        font-size: 196px;
        margin: 0 38px;
    }

    .about-section-heading1 {
        font-size: 35px;
    }

    .about-section-card-three {
        justify-content: space-evenly;
        align-items: center;
    }

    .about-section-card-three {
        flex-wrap: wrap;
    }


    .about-section-card-four {
        width: 341px;
        height: 80px;
    }
}

@media only screen and (max-width: 480px) {
    .about-card {
        height: 1025px;
    }

    .about-section-card-three {
        margin-top: 25px;
    }
}