.nav-link {
    color: #444242;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--yellow-color);
    border-radius: 50%;
    display: none;
}

.nav-link:active::after {
    display: block;
}

.btn-chat{
    background-color: var(--yellow-color);
    border: none;
    margin: 0;
padding: 25px;
}
.navbar-brand{
    width: 15%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}