.blog-wrapper {
    height: 993px;
    position: relative;
}

.blog-wrapper-one {
    background-color: white;
    box-shadow: 0px 0px 25px 3px #b9b9b9;
    width: 100%;
    height: 663px;
    position: absolute;
    left: 0;
    top: 443px;
    z-index: 1;
}

.blog-card-one {
    position: absolute;
    left: 242px;
    top: 58px;
}

.blog-wrapper-one-heading {
    color: #171717;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.blog-card-two {
    width: 1000px;
    position: absolute;
    left: 242px;
    top: 248px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blog-wrapper-one-img {
    border-radius: 50%;
}

.blog-wrapper-one-img-card {
    margin-right: 52px;
}

.blog-wrapper-one-desc {
    width: 80%;
    color: #606060;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}


.blog-wrapper-one-name {
    color: #171717;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-wrapper-one-change {
    position: absolute;
    bottom: 41px;
    right: 71px;
}

.blog-wrapper-one-change-prev {
    margin-right: 20px;
}

.blog-wrapper-one-change-next {
    margin-left: 20px;
}

.blog-wrapper-one-dotsvgblue {
    position: absolute;
    left: -55px;
    top: 152px;
    z-index: -1;
}

.blog-wrapper-one-dotsvgred {
    position: absolute;
    right: 49px;
    top: 65px;
}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1200px) {
    .blog-card-one {
        left: 142px;
        top: 38px;
    }

    .blog-card-two {
        left: 122px;
        top: 248px;

    }
}

@media only screen and (max-width: 1000px) {
    
    .blog-card-one {
        height: 1056px;
        width: 100%;
        left: 0;

    }

    .blog-card-two {
        left: 0;
        top: 248px;

    }

    .blog-wrapper-one-heading {
        text-align: center;
    }

    .blog-card-two {
        width: 100%;
        top: 188px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .blog-wrapper-one-desc {
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .blog-wrapper-one-img-card {
        margin-right: 0;
    }
}

@media only screen and (max-width: 900px) {
    .blog-wrapper-one {
        height: 868px;
        top: 243px;
    }

    .blog-card-one {
        width: 100%;
        left: 0;

    }

    .blog-card-two {
        left: 0;
        top: 248px;

    }

    .blog-wrapper-one-heading {
        text-align: center;
    }

    .blog-card-two {
        width: 100%;
        top: 188px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .blog-wrapper-one-desc {
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .blog-wrapper-one-img-card {
        margin-right: 0;
    }

    .blog-wrapper-one-name {
        width: 100%;
        text-align: center;
    }

}

@media only screen and (max-width: 760px) {
    .blog-wrapper-one {
        top: 243px;
    }
}

@media only screen and (max-width: 480px) {
    .blog-wrapper-one {
        top: 143px;
    }
    .blog-card-two {
        top: 218px;
      
    }
}