.consultations-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 176px 0 411px 0;

}

.consultations-wrapper-one {
    display: flex;
    flex-direction: column;
}

.consultations-wrapper-one-connect-headings {
    color: #171717;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.consultations-wrapper-one-connect-buttons {
    display: flex;
}

.consultations-wrapper-one-connect {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


.consultations-wrapper-one-input {
    margin: 69px 0 22px 0;
    width: 723px;
    height: 96px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
    color: #B2B2B2;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-callback, .btn-refer {
    width: 250px;
    height: 96px;
    padding: 15px;
    background-color: var(--yellow-color);
    color: black;
    border-radius: 15px;
    border: none;
}

.btn-callback {
    background-color: var(--yellow-color);
    margin-right: 61px;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-refer {
    background-color: var(--lightgrey-color);
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

@media only screen and (max-width: 1600px) {
    .consultations-wrapper-one {
        margin-right: 10px;
    }
    .consultations-wrapper-one-input {
        width: 603px;
        height: 86px;

    }

}

@media only screen and (max-width: 1200px) {
    .consultations-wrapper {
        flex-wrap: wrap;
        margin: 146px 0 311px 0;
        align-items: center;

    }

    .consultations-wrapper-one {
        align-items: center;
        margin: 20px;
    }

    .consultations-wrapper-one {
        width: 100%;
    }

    .consultations-wrapper-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .consultations-wrapper-one-input {
        width: 623px;
        height: 86px;

    }

    .btn-callback, .btn-refer {
        width: 150px;
        height: 86px;
        padding: 13px;
    }

    .consultations-wrapper-one-connect-headings {
        font-size: 45px;
    }

    .consultations-wrapper-one-input {
        font-size: 23px;
    }

    .btn-callback, .btn-refer {
        font-size: 23px;
    }

}

@media only screen and (max-width: 900px) {
    .consultations-wrapper {
        flex-wrap: wrap;
        /* margin: 146px 0 311px 0; */
        align-items: center;

    }

    .consultations-wrapper-one {
        align-items: center;
        margin: 20px;
    }

    .consultations-wrapper-one {
        width: 100%;
    }

    .consultations-wrapper-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .consultations-wrapper-one-input {
        width: 523px;
        height: 76px;
    }

    .btn-callback, .btn-refer {
        width: 150px;
        height: 76px;
        padding: 11px;
    }

    .consultations-wrapper-one-connect-headings {
        font-size: 35px;
    }

    .consultations-wrapper-one-input {
        font-size: 18px;
    }

    .btn-callback, .btn-refer {
        font-size: 18px;
    }
}

@media only screen and (max-width: 760px) {
    .consultations-wrapper {
        flex-wrap: wrap;
        margin: 286px 0 311px 0;
        align-items: center;

    }

    .consultations-wrapper-one {
        align-items: center;
        margin: 20px;
    }

    .consultations-wrapper-one {
        width: 100%;
    }

    .consultations-wrapper-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .consultations-wrapper-one-input {
        width: 423px;
        height: 66px;
    }

    .btn-callback, .btn-refer {
        width: 150px;
        height: 66px;
        padding: 11px;
    }

    .consultations-wrapper-one-connect-headings {
        font-size: 28px;
    }

    .consultations-wrapper-one-input {
        font-size: 15px;
    }

    .btn-callback, .btn-refer {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .consultations-wrapper {
        flex-wrap: wrap;
        margin: 146px 0 311px 0;
        align-items: center;

    }

    .consultations-wrapper-one {
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
    }

    .consultations-wrapper-one {
        width: 100%;
    }

    .consultations-wrapper-two {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .consultations-wrapper-one-input {
        width: 323px;
        height: 56px;
    }

    .btn-callback, .btn-refer {
        width: 120px;
        height: 56px;
    }

    .consultations-wrapper-one-connect-headings {
        font-size: 22px;
    }

    .consultations-wrapper-one-input {
        font-size: 12px;
    }

    .btn-callback, .btn-refer {
        font-size: 12px;
    }
}